.span span {
  display: block;
  margin: 5px auto;
  width: 125px;
  border-bottom: 2px solid #ccc;
}
body {
  font-family: 'Sintony', sans-serif;
  font-size: 16px;
}
.card {
  margin: 50px auto;
  width: 350px;
  text-align: center;
  padding: 15px 5px;
  background-color: red;
  border: 2px solid #667279;
  border-radius: 5px;
  line-height: 1.5;
}
.card.active .input {
  display: none;
}
.card.active .result {
  display: block;
}
.card .input {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.card .input h3 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 20px;
}
.card .input h3 a {
  color: #667279;
  text-decoration: none;
}
.card .input input[name="city"] {
  display: block;
  width: 85%;
  margin: 10px auto;
  border: none;
  padding: 10px;
  text-align: center;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 7px;
  transition: all 0.3s ease;
}
.card .input input[name="city"]:focus {
  border: 1px solid #667279;
}
.card .input .search {
  padding: 5px 20px;
  border-radius: 3px;
  background-color: #667279;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card .input .search:hover {
  opacity: 0.7;
}
.card .input p {
  margin-top: 20px;
  font-size: 11px;
}
.card .result {
  display: none;
}
.card .result h3 {
  color: #667279;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1;
}
.card .result h1 {
  font-size: 40px;
}
.card .result h1 span {
  display: block;
  margin: 5px auto;
  width: 125px;
  border-bottom: 2px solid #ccc;
}
.card .result .desc {
  font-size: 12px;
  text-transform: uppercase;
}
.card .result ul {
  margin-top: 20px;
  padding: 0 20px 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card .result ul li {
  display: block;
  margin: 3px;
  padding: 2px 10px;
  background-color: #ccc;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: left;
  transition: all 0.2s ease;
}
.card .result ul li:hover {
  border: 1px solid #667279;
}
.card .result ul li .feature {
  display: flex;
  align-items: center;
  float: right;
  cursor: default;
  font-size: 16px;
}
.card .result ul li .other {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
}
